<div class="article-container container">
	<div id="article-primary">
		<% first_article = @articles.first %>
		
		<%= link_to(image_tag(first_article.image, :class => "img-primary-article"), first_article.link) %>
			<div id="primary-title-content">
				<h2> <%= link_to first_article.title, first_article.link %> </h2>
				<h3> <%= first_article.description %> </h3>
			</div>
    </div>
</div>

<div class="container" id="all-articles">
	<% @articles.each do |article| %>

		<div class="row">
			<div class="body-article-container col-lg-6 ml-lg-auto">
				<h2 class="card-title">
					<%= link_to article.title, article.link %>  
				</h2>

				<h3 class="card-text"><%= article.description %> </h3>
				<p> <%= article.created_at %> </p>
			</div>

			<div class="article-images col-lg-6 mb-lg-auto">
				<%= link_to(image_tag(article.image), article.link) %>
			</div>
		</div>
	<hr>
	<% end %>
</div>

<%= link_to "logout", destroy_user_session_path, method: :delete %>s

